<!DOCTYPE html>
<html>

<head>
  <title>Films</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    table {
      border-collapse: collapse;
      margin-left: auto;
      margin-right: auto;
    }

    table, th, td {
      border: 1px solid black;
    }

    th, td {
      width: 140px;
      text-align: left;
      padding: 5px;
    }
  </style>
</head>

<body>
  <div id="app">
    <table>
      <tr>
        <th v-for="label in labels">{{label}}</th>
      </tr>
      <tr v-for="film in films">
        <td v-for="key in columns">{{film[key]}}</td>
      </tr>
    </table>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        labels: ['Title', 'Year', 'Director', 'Budget'],
        columns: ['title', 'year', 'director', 'budget'],
        films: [{
          title: 'Avatar',
          year: 2009,
          director: 'James Cameron',
          budget: '$237 000 000'
        }, {
          title: 'Pulp Fiction',
          year: 1994,
          director: 'Quentin Tarantino',
          budget: '$8 000 000'
        }, {
          title: 'Pitch Black',
          year: 2000,
          director: 'David Twohy',
          budget: '$23 000 000'
        }, {
          title: 'War and Peace',
          year: 1956,
          director: 'King Vidor',
          budget: '$6 000 000'
        }],
      },
    });
  </script>
</body>

</html>